<div class="page-content">
    <!-- Your content goes here -->
    <div class="mdl-grid">
        <%- partial('_partial/posts') %>
        <%- partial('_partial/pagination', {'basePath':''}) %>
    </div>
</div>