<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">Crazy Ana © 2017 - 2018, Power by <a href="https://hexo.io" target="_blank" >Hexo</a> Theme <a href="https://hexo.io" target="_blank" >done</a></div>
    </div>
    <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
            <li><a id="LICENSE" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en" target="_blank"><%= __('global.footer.privacy_terms') %></a></li>
        </ul>
    </div>
    <div class="mdl-tooltip mdl-tooltip--top" for="LICENSE">Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)</div>
</footer>